<!DOCTYPE html>
<html lang="en">
<head>
    <title>LabMate - Laboratories</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/theme-style.css">
    <link rel="stylesheet" href="/css/navbar-style.css">
    <link rel="stylesheet" href="/css/signedout-laboratories.css">
</head>
<body>
    {{> navbar-signedout}}

    <div class="frame">
        <span class="header">View Slot Availability</span>

        <div class="dropdown">
            <span class="dropdown-header">Laboratory</span>
            <select name="labs" id="labs">
                <option value="" disabled selected>Select a Laboratory</option>
                {{#each labs}}
                    <option value="{{this._id}}" data-capacity="{{this.capacity}}">{{this.room}} | {{this.hall}}</option>
                {{/each}}
            </select>
        </div>

        <div class="dropdown">
            <span class="dropdown-header">Date</span>
            <select name="dates" id="dates">
                <option value="" disabled selected>Select a Date</option>
                {{#each next7Days}}
                    <option value="{{this.formattedDate}}">{{this.displayDate}}</option>
                {{/each}}
            </select>
        </div>

        <button id="view-button" type="button">View Slots</button>

        <div id="chart">
            <span id="chart-header">Slot Availability</span>

            <div id="chart-body">
                <table id="slot-chart">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody id="timetable"></tbody>
                </table>
            </div>
        </div>

        <div id="legend">
            <div id="legend-available"></div>
            <span class="legend-text">Available</span>
            <div id="legend-unavailable"></div>
            <span class="legend-text">Unavailable</span>
        </div>
    </div>

    <script src="/js/signedout-laboratories.js"></script>
</body>
</html>
